In [9]:
import pandas as pd
import numpy as np

In [10]:
# Load the datasets using the specified paths
job_posting = pd.read_csv('./Raw_Data/postings.csv')
job_skills = pd.read_csv('./Raw_Data/jobs/job_skills.csv')
companies = pd.read_csv('./Raw_Data/companies/companies.csv')
mapping_skills = pd.read_csv('./Raw_Data/mappings/skills.csv')

In [11]:

# Ensure columns have appropriate data types
companies['company_id'] = companies['company_id'].astype(int)
companies['company_size'] = companies['company_size'].astype(float)

In [12]:
# Check for missing values in each DataFrame
missing_values_companies = companies.isnull().sum()
missing_values_job_skills = job_skills.isnull().sum()
missing_values_skills = mapping_skills.isnull().sum()
missing_values_postings = job_posting.isnull().sum()

In [13]:
companies['company_size'].fillna(companies['company_size'].median(), inplace=True)
companies['description'].fillna("No description provided", inplace=True)
companies['state'].fillna("Unknown", inplace=True)
companies['city'].fillna("Unknown", inplace=True)
companies['zip_code'].fillna("Unknown", inplace=True)
companies['address'].fillna("Unknown", inplace=True)

In [14]:
# Merge job_skills with mapping_skills to include full skill names
job_skills_detailed = job_skills.merge(mapping_skills, on="skill_abr", how="left")

In [15]:
# Display summaries of missing values for quality assurance
print("Missing values in companies:\n", missing_values_companies)
print("\nMissing values in job_skills:\n", missing_values_job_skills)
print("\nMissing values in mapping_skills:\n", missing_values_skills)
print("\nMissing values in job_posting:\n", missing_values_postings)

Missing values in companies:
 company_id         0
name               0
description      296
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64

Missing values in job_skills:
 job_id       0
skill_abr    0
dtype: int64

Missing values in mapping_skills:
 skill_abr     0
skill_name    0
dtype: int64

Missing values in job_posting:
 job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

In [16]:
# Display the first few rows of each transformed DataFrame
print("\nCompanies head:\n", companies.head())
print("\nJob Skills (detailed) head:\n", job_skills_detailed.head())
print("\nJob Posting head:\n", job_posting.head())

Companies head:
    company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  We’re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

Job Skills (detailed) head:
        job_id skill_abr        skill_name
0  3884428798      MRKT         Marketing
1  3884428798        PR  Public Relations
2  3884428798       WRT   Writing/Editing
3  3887473071      SALE             Sales
4  3887465684       FIN           Finance

Job Posting head:
      job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...
1   Fort Collins, CO         NaN    1.0         NaN  ...
2     Cincinnati, OH  64896719.0    8.0         NaN  ...
3  New Hyde Park, NY    766262.0   16.0         NaN  ...
4     Burlington, IA         NaN    3.0         NaN  ...

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

   posting_domain  sponsored  work_type currency compensation_type  \
0             NaN          0  FULL_TIME      USD       BASE_SALARY
1             NaN          0  FULL_TIME      USD       BASE_SALARY
2             NaN          0  FULL_TIME      USD       BASE_SALARY
3             NaN          0  FULL_TIME      USD       BASE_SALARY
4             NaN          0  FULL_TIME      USD       BASE_SALARY

  normalized_salary  zip_code     fips
0           38480.0    8540.0  34021.0
1           83200.0   80521.0   8069.0
2           55000.0   45202.0  39061.0
3          157500.0   11040.0  36059.0
4           70000.0   52601.0  19057.0

[5 rows x 31 columns]

In [17]:
# 1. Integrimi (Integration)
# Join job_skills with mapping_skills to include the full skill name for each skill abbreviation
job_skills_detailed = job_skills.merge(mapping_skills, on="skill_abr", how="left")

# Join job_skills_detailed with job_posting on 'job_id' to have skill details with job postings
job_data_combined = job_posting.merge(job_skills_detailed, on="job_id", how="left")

# Join job_data_combined with companies on 'company_id' to include company information
full_data = job_data_combined.merge(companies, on="company_id", how="left")

In [18]:
# Example: Aggregate to get the total number of job postings per company
job_count_per_company = full_data.groupby("company_id")['job_id'].count().reset_index()
job_count_per_company.rename(columns={"job_id": "total_jobs"}, inplace=True)

In [19]:
# Aggregating to get a count of skills required across all jobs
skill_count = job_skills_detailed['skill_name'].value_counts().reset_index()
skill_count.columns = ['skill_name', 'count']

In [20]:
# Randomly sample 5% of the full_data for quick analysis or visualization (Sampling)
sampled_data = full_data.sample(frac=0.05, random_state=42)

In [21]:
# Check for and drop duplicate rows if any(Cleaning)
full_data.drop_duplicates(inplace=True)

In [25]:
# Identify missing values
missing_values = full_data.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 job_id                             0
company_name                    2826
title                              0
description_x                     12
max_salary                    156767
pay_period                    146431
location                           0
company_id                      2822
views                           2901
med_salary                    197195
min_salary                    156767
formatted_work_type                0
applies                       167194
original_listed_time               0
remote_allowed                180754
job_posting_url                    0
application_url                62683
application_type                   0
expiry                             0
closed_time                   206094
formatted_experience_level     48040
skills_desc                   203725
listed_time                        0
posting_domain                 69610
sponsored                          0
work_type                          0
currency                      146431
compensation_type             146431
normalized_salary             146431
zip_code_x                     36335
fips                           47242
skill_abr                       1753
skill_name                      1753
name                            2823
description_y                   2823
company_size                    2823
state                           2823
country                         2823
city                            2823
zip_code_y                      2823
address                         2823
url                             2823
dtype: int64

In [26]:
# Fill missing values based on context

# Textual and Categorical Fields
full_data['company_name'].fillna("Unknown Company", inplace=True)
full_data['description_x'].fillna("No description provided", inplace=True)
full_data['description_y'].fillna("No description provided", inplace=True)
full_data['pay_period'].fillna("Unknown", inplace=True)
full_data['currency'].fillna("Unknown", inplace=True)
full_data['compensation_type'].fillna("Unknown", inplace=True)
full_data['skills_desc'].fillna("No skills listed", inplace=True)
full_data['application_url'].fillna("No application URL", inplace=True)
full_data['posting_domain'].fillna("Unknown", inplace=True)

# Salary Fields (fill with median salary)
salary_median = full_data[['max_salary', 'med_salary', 'min_salary', 'normalized_salary']].median()
full_data['max_salary'].fillna(salary_median['max_salary'], inplace=True)
full_data['med_salary'].fillna(salary_median['med_salary'], inplace=True)
full_data['min_salary'].fillna(salary_median['min_salary'], inplace=True)
full_data['normalized_salary'].fillna(salary_median['normalized_salary'], inplace=True)

# Experience Level, Remote Allowed, and Work Type
full_data['formatted_experience_level'].fillna("Entry Level", inplace=True)
full_data['remote_allowed'].fillna("Not specified", inplace=True)
full_data['work_type'].fillna("Unknown", inplace=True)

# Location and Address Fields
full_data['state'].fillna("Unknown", inplace=True)
full_data['city'].fillna("Unknown", inplace=True)
full_data['zip_code_x'].fillna("Unknown", inplace=True)
full_data['zip_code_y'].fillna("Unknown", inplace=True)
full_data['fips'].fillna("Unknown", inplace=True)
full_data['address'].fillna("Unknown", inplace=True)

# Skill Fields
full_data['skill_abr'].fillna("N/A", inplace=True)
full_data['skill_name'].fillna("N/A", inplace=True)

# Fill view and apply counts with 0
full_data['views'].fillna(0, inplace=True)
full_data['applies'].fillna(0, inplace=True)

# Confirm missing values have been filled
print("Remaining missing values:\n", full_data.isnull().sum())

Remaining missing values:
 job_id                             0
company_name                       0
title                              0
description_x                      0
max_salary                         0
pay_period                         0
location                           0
company_id                      2822
views                              0
med_salary                         0
min_salary                         0
formatted_work_type                0
applies                            0
original_listed_time               0
remote_allowed                     0
job_posting_url                    0
application_url                    0
application_type                   0
expiry                             0
closed_time                   206094
formatted_experience_level         0
skills_desc                        0
listed_time                        0
posting_domain                     0
sponsored                          0
work_type                          0
currency                           0
compensation_type                  0
normalized_salary                  0
zip_code_x                         0
fips                               0
skill_abr                          0
skill_name                         0
name                            2823
description_y                      0
company_size                    2823
state                              0
country                         2823
city                               0
zip_code_y                         0
address                            0
url                             2823
dtype: int64

In [27]:
# Handle remaining missing values

# Drop rows with missing 'company_id' as this identifier is critical for many analyses
full_data.dropna(subset=['company_id'], inplace=True)

# Fill remaining missing values in company-related fields with placeholders
full_data['name'].fillna("Unknown Company", inplace=True)
full_data['company_size'].fillna("Not Available", inplace=True)
full_data['country'].fillna("Unknown", inplace=True)
full_data['url'].fillna("No URL provided", inplace=True)

# Fill missing 'closed_time' with a placeholder
full_data['closed_time'].fillna("No closing date", inplace=True)

# Verify all missing values are addressed
print("Final check for missing values:\n", full_data.isnull().sum())

Final check for missing values:
 job_id                        0
company_name                  0
title                         0
description_x                 0
max_salary                    0
pay_period                    0
location                      0
company_id                    0
views                         0
med_salary                    0
min_salary                    0
formatted_work_type           0
applies                       0
original_listed_time          0
remote_allowed                0
job_posting_url               0
application_url               0
application_type              0
expiry                        0
closed_time                   0
formatted_experience_level    0
skills_desc                   0
listed_time                   0
posting_domain                0
sponsored                     0
work_type                     0
currency                      0
compensation_type             0
normalized_salary             0
zip_code_x                    0
fips                          0
skill_abr                     0
skill_name                    0
name                          0
description_y                 0
company_size                  0
state                         0
country                       0
city                          0
zip_code_y                    0
address                       0
url                           0
dtype: int64

In [28]:
print("\nSample of fully processed data:\n", sampled_data.head())
print("\nAggregated job counts per company:\n", job_count_per_company.head())
print("\nSkill counts:\n", skill_count.head())

Sample of fully processed data:
             job_id              company_name  \
25246   3887899161              Webster Bank
68202   3899524319                  Galderma
84534   3901379413  Cornerstone Search Group
68799   3899527533                 SAY Group
199914  3906223667                  Circle K

                                                    title  \
25246                     Managing Director, Loan Workout
68202   Account Manager, Immunology - Knoxville/Chatta...
84534   Field-based: AD, Reimbursement & Access (RAD) ...
68799                           Human Resource Generalist
199914                                   Lead Team Member

                                            description_x  max_salary  \
25246   If you’re looking for a meaningful career, you...    200000.0
68202   Job Title: Account Manager, ImmunologyLocation...         NaN
84534   Home-based AD, REIMBURSEMENT & ACCESS - SOUTHE...         NaN
68799   Our client, a rapidly growing Manufacturing co...         NaN
199914  Store 4705320: 36071 Chester Road, Avon, Ohio ...         NaN

       pay_period                 location  company_id  views  med_salary  \
25246      YEARLY             Stamford, CT     10522.0   13.0         NaN
68202         NaN            Knoxville, TN  24773027.0    5.0         NaN
84534         NaN  Virginia, United States     80380.0    3.0         NaN
68799         NaN             Kennesaw, GA  16222659.0    1.0         NaN
199914        NaN                 Avon, OH     12446.0    3.0         NaN

        ...       skill_name                      name  \
25246   ...            Sales              Webster Bank
68202   ...            Sales                  Galderma
84534   ...            Other  Cornerstone Search Group
68799   ...  Human Resources                 SAY Group
199914  ...       Management                  Circle K

                                            description_y  company_size  \
25246   Webster is a leading commercial bank that deli...           5.0
68202   Galderma is the leading company solely dedicat...           6.0
84534   Cornerstone Search Group is a “boutique” Life ...           1.0
68799   The SAY Group is the only recruiting partner y...           3.0
199914  Our mission at Circle K is to make our custome...           7.0

             state country         city zip_code_y               address  \
25246           CT      US     Stamford      06901        200 Elm Street
68202            0      CH          Zug       6300          Zählerweg 10
84534   New Jersey      US  Short Hills      07078      1200 Morris Tpke
68799           NC      US      Raleigh      27608  1323 Canterbury Road
199914      Québec      CA        Laval    H7L 0E3                  4204

                                                      url
25246       https://www.linkedin.com/company/webster-bank
68202          https://www.linkedin.com/company/galderma-
84534   https://www.linkedin.com/company/cornerstone-s...
68799   https://www.linkedin.com/company/saygrouprecru...
199914          https://www.linkedin.com/company/circle-k

[5 rows x 42 columns]

Aggregated job counts per company:
    company_id  total_jobs
0      1009.0          33
1      1016.0          85
2      1025.0          24
3      1028.0         127
4      1033.0          37

Skill counts:
                skill_name  count
0  Information Technology  26137
1                   Sales  22475
2              Management  20861
3           Manufacturing  18185
4    Health Care Provider  17369

In [29]:
# Convert company_id back to integer after handling missing values
full_data['company_id'] = full_data['company_id'].astype(int)

# Ensure 'company_id' is integer in the aggregated result as well
job_count_per_company['company_id'] = job_count_per_company['company_id'].astype(int)

# Check the result to confirm the data type
print("\nAggregated job counts per company:\n", job_count_per_company.head())

Aggregated job counts per company:
    company_id  total_jobs
0        1009          33
1        1016          85
2        1025          24
3        1028         127
4        1033          37